<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2> Secondary Extraction Association</h2>
    <hr>
    <p>
        Welcome to Secondary Extraction
    </p>
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership meeting</a> (Only for manager peeps)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT systems meeting</a> (Only for admin peeps)
        </p>
    </div>
    <hr>

    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

</body>
</html>